.eventContainer {
    width: 80%;
    margin: auto;
}
.eventHeaderRow {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    text-align: left;
    border: 1px solid #efefef;
}
.EventCellMain {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    text-align: left;
    border: 1px solid #efefef;
}
.EventCellMain:hover {
    background-color: #efefef;
    cursor: pointer;
}
.dateFiltersWrapper {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.startDateFilterWrapper, .endDateFilterWrapper {
    display: flex;
    flex-flow: column;
}